.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.aboutUsImg {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.aboutUsImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
  filter: brightness(0.9);
}

.aboutUsContentContainer {
  width: 80%;
  max-width: 950px;
  padding: 2.5rem 3rem;
  text-align: center;
  color: #333;
  font-family: "Poppins", sans-serif;
  line-height: 2;
  border-radius: 16px;
  transition: all 0.4s ease;
  margin-block: 2rem;
}

.subtitle {
  display: inline-block;
  color: #c59a5f;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.aboutUsContentContainer h1 {
  font-size: 3rem;
  color: #222;
  font-weight: 500;
  margin: 0;
}

.aboutUsContentContainer p {
  color: #555;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}

.aboutUsContentContainer strong {
  color: #222;
  font-weight: 700;
}

.aboutUsContentContainer em {
  color: #c59a5f;
  font-style: italic;
  font-weight: 600;
}

.list {
  margin: 2.5rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1.5rem;
  list-style: none;
}

.list li {
  background-color: #fff7ea;
  color: #333;
  padding: 0.8rem 1.5rem;
  border-radius: 14px;
  font-weight: 600;
  font-size: 1.05rem;

  transition: all 0.3s ease;
}

.list li:hover {
  background-color: #fbe4c3;
  transform: translateY(-4px);
}

.visionMission {
  background: #fffaf4;
  border-left: 6px solid #c59a5f;
  padding: 1.2rem 2rem;
  border-radius: 12px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.sectionTitle {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.underline {
  border: 1px solid #c59a5f;
  width: 100px;
  margin: 0 auto;
  margin-top: -0.6rem;
}

@media (max-width: 768px) {
  .aboutUsContentContainer {
    width: 90%;
    padding: 0;
  }

  .aboutUsContentContainer h1 {
    font-size: 2rem;
  }

  .list li {
    width: 100%;
    text-align: center;
  }

  .sectionTitle {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .aboutUsContentContainer p {
    line-height: 1.5rem;
    font-size: 0.9rem;
  }

  .list li {
    font-size: 0.8rem;
  }
}
